* text=auto eol=lf

*.css text
*.htm text
*.html text
*.js text
*.md text
*.svg text
*.txt text
*.xml text
*.xsl text
*.yml text
*.yaml text
*.json text
*.sh text
*.nav text

*.pdf binary
*.png binary
*.gif binary
*.jpg binary
