name: Markdown Terminology Lint Check

on:
  pull_request_target:
    branches:
    - master
    paths:
    - '**.md'
    - '!.github/**'
    - '!translations/**'

permissions:
  contents: read
  pull-requests: write

jobs:
  textlint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        ref: ${{github.event.pull_request.head.ref}}
        repository: ${{github.event.pull_request.head.repo.full_name}}
    - name: Setup Node
      uses: actions/setup-node@v2
      with:
        node-version: '16'
    - name: Install dependencies
      run: |
        npm install -g textlint
        npm install -g textlint-rule-terminology
    - name: Changed Files Exporter
      id: files
      uses: futuratrepadeira/changed-files@v3.2.1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        pattern: '^.*\.(md)$'
    - name: Run textlint Check
      env:
        FILES: '${{ steps.files.outputs.files_updated }} ${{ steps.files.outputs.files_created }}'
      run: |
        touch log.txt
        # All markdown files, excluding .github and translations
        # Use fix flag so that it goes through all files
        for FILE in $FILES; do echo $FILE | grep -v \.github | grep -v translations && textlint --config .github/configs/.textlintrc --fix --rule terminology $FILE | tee -a log.txt; done
        if grep -q  'Incorrect usage' log.txt ; then exit 1 ; else echo -e \"No terminology issues found.\"; fi
    - name: Show Mistakes
      if: failure()
      run: |
        cat log.txt
        cat log.txt | grep -v '✔ Fixed' | tr '✔' '✖' >mistakes.txt
    - name: Attach Mistakes
      if: failure()
      uses: actions/upload-artifact@v1
      with:
        name: Terminology Mistakes
        path: mistakes.txt
    - name: Comment Mistakes
      if: failure()
      uses: actions/github-script@v2
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        script: |
          const fs = require("fs");
          const mistakesPath = `${process.env.GITHUB_WORKSPACE}/mistakes.txt`;
          const mistakesString = fs.readFileSync(mistakesPath).toString().trimEnd();
          github.issues.createComment({
            issue_number: ${{ github.event.number }},
            owner: context.repo.owner,
            repo: context.repo.repo,
            body: `**The following mistakes were identified:** \n${mistakesString}`
          })
